#projects .card .card-head {
  aspect-ratio: 3 / 2;
  width: 100%;
  overflow: hidden;
}

#projects .card .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  display: block;
}
